<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SBC Book Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- link rel="stylesheet" href="../css/shards.min.css" -->
</head>
<body>
    <div class="container">
        <h1>Add Book Review</h1>
        <form action="#" th:action="@{/saveBookReview}" th:object="${allBooks}" method="post">
                <input type="text" th:field="*{title}" placeholder="Title" class="form-control mp-4 col-4">
                <input type="text" th:field="*{author}" placeholder="Author" class="form-control mb-4 col-4">
                <input type="text" th:field="*{ISBN}" placeholder="ISBN" class="form-control mb4 col-4">
                <input type="number" th:field="*{publicationDate}" placeholder="Publish Date" class="form-control mb-4 col-4">
                <!-- input type="text" th:field="*{review}" placeholder="Review" class="form-control mb-4 col-4" -->

                <!-- New Review Field -->
                <label>Review:<br/>
                    <textarea th:field="*{review}" rows="25" cols="75" placeholder="Write your review here..."></textarea>
                </label><br/>

            <button type="submit" class="btn btn-info col-2">Save Book Review</button>
        </form>

        <hr>
        <a th:href="@{/getAllBooks}"> Back to Books List</a>
    </div>
</body>