<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SBC Book Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- link rel="stylesheet" href="../css/shards.min.css" -->

</head>
<body>

    <div class="container">
        <h1>Add Book Review</h1>
        <form action="#" th:action="@{/saveBookReview}" th:object="${allBooks}" method="post">
                <input type="text" th:field="*{title}" placeholder="Title" class="form-control mp-4 col-4">
                <input type="text" th:field="*{author}" placeholder="Author" class="form-control mb-4 col-4">
                <input type="text" th:field="*{ISBN}" placeholder="ISBN" class="form-control mb4 col-4">

                <h5>Rating</h5>
                <div class="star-rating">
                    <input type="radio" id="star5" name="star" value="5"><label for="star5">&#9733;</label>
                    <input type="radio" id="star4" name="star" value="4"><label for="star4">&#9733;</label>
                    <input type="radio" id="star3" name="star" value="3"><label for="star3">&#9733;</label>
                    <input type="radio" id="star2" name="star" value="2"><label for="star2">&#9733;</label>
                    <input type="radio" id="star1" name="star" value="1"><label for="star1">&#9733;</label>
                </div>


                <input type="number" th:field="*{publicationDate}" placeholder="Publish Date" class="form-control mb-4 col-4">
                <input type="text" th:field="*{reviewer}" placeholder="Reviewer" class="form-control mb-4 col-4">

                <!-- New Review Field -->
                <label>Review:<br/>
                    <textarea th:field="*{review}" rows="25" cols="75" placeholder="Write your review here..."></textarea>
                </label><br/>

            <!-- TODO: Move to a .css file -->
            <style>
                .star-rating {
                    direction: rtl;
                    font-size: 2em;
                    unicode-bidi: bidi-override;
                    display: inline-flex;
                }
                .star-rating input {
                    display: none;
                }
                .star-rating label {
                    color: lightgray;
                    cursor: pointer;
                }
                .star-rating input:checked ~ label,
                .star-rating label:hover,
                .star-rating label:hover ~ label {
                    color: gold;
                }
            </style>
            <!-- Hidden field for binding -->
            <input type="hidden" th:field="*{rating}" id="rating"/>

            <script>
                const ratingInput = document.getElementById('rating');
                const starRadios = document.querySelectorAll('.star-rating input');

                starRadios.forEach(radio => {
                    radio.addEventListener('change',function () {
                        ratingInput.value = this.value;
                    });
                });

                //Optional: Pre-select stars if editing
                document.addEventListener('DOMContentLoaded', function () {
                    const currentRating = ratingInput.value;
                    if(currentRating) {
                        const radioToCheck = document.querySelector('.star-rating input[value="{${currentRating}"]');
                        if(radioToCheck) {
                            radioToCheck.ariaChecked = true;
                        }
                    }
                });
            </script>

            <button type="submit" class="btn btn-info col-2">Save Book Review</button>
        </form>

        <hr>
        <a th:href="@{/getAllBooks}"> Back to Books List</a>
    </div>
</body>